* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
	--dark-color: #4a4a4a;
	--light-color: #f9f9f9;
	
	--font-family: Verdana, Geneva, sans-serif;
    --font-weight: 700;
    
    --nav-size: 7vh;
}

html {
    font-size: 62.5%;
    font-family: serif;
}
  
body {
    font-size: 1.8rem;
    line-height: 1.618;
    background-color: var(--light-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    padding: 1rem 0;
}

main {
    max-width: 38em;
    min-height: calc(100vh - calc(var(--nav-size) * 2));
    margin: auto;
    color: var(--dark-color);
    padding: 13px;
}

a {
    text-decoration: none;
    border-bottom: 2px solid var(--dark-color);
    color: var(--dark-color);
    transition: all .3s ease-out;
}

a:hover {
	background-color: var(--dark-color);
	color: var(--light-color);
 	cursor: pointer;
}

p {
    padding: 5px 0;
}

nav {
    background-color: var(--dark-color);
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--nav-size);
}

nav ul {
	list-style: none;
	display: flex;
	justify-content: center;
}

nav ul li {
	margin: 5px;
}

nav ul li a {
	color: var(--light-color);
	background-color: var(--dark-color);
    border: 1px solid var(--light-color);
	text-decoration: none;
	padding: 5px;
	transition: all .3s ease-out;
}

nav ul li a:hover {
	color: var(--dark-color);
	background-color: var(--light-color);
	border: 1px solid var(--dark-color);
	cursor: pointer;
}

nav ul li a.active {
	color: var(--dark-color);
	background-color: var(--light-color);
	border: 1px solid var(--dark-color);
}

pre {
    background-color: var(--dark-color);
    line-height: 1.1;
    padding: 10px 0;
}

pre code {
    color: var(--light-color);
    margin-bottom: 20px;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    overflow-wrap: break-word;
}

code {
    color: darkred;
}

blockquote {
	border-left: 2px solid var(--dark-color);
	margin: 0.7em 5px;
	padding: 0.7em 10px;

}

blockquote p {
	display: inline;
}

section ol, section ul {
    margin-left: 20px;
}

@media (max-width: 684px) {
    body {
        font-size: 1.53rem;
    }
    code {
        font-size: 1.2rem;
    }
}
  
@media (max-width: 382px) {
    body {
        font-size: 1.35rem;
    }
    code {
        font-size: 1rem;
    }
}