{{ define "main" }}
<article>
    <header>
        {{ .Content }}
    </header>
    {{ range first 8 .Pages }}
    {{ if eq .Type "posts"}}
    <section>
        <header>
            <h1>
                <a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} <span>(unpublished)</span>{{ end }}
            </h1>
            <p>{{ .Date.Format "January 2, 2006"}}</p>
        </header>
        {{ .Summary }}
    </section>
    {{ end }}
    {{ end }}
</article>
{{ end }}