
    <meta charset='UTF-8'/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta property="og:description" content="{{ .Description }}" />
    <meta property="og:image" content="https://aalekseev.me/assets/me.jpg" />
